* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*[role='button'] {
  cursor: pointer;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #dfdfdf;
  color: #313131;
}

body.dark {
  background-color: #202124;
  color: white;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  opacity: 0.5;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.dark input,
textarea {
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 12px 0;
  padding: 12px;
  font-size: 14px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.dark .note-input button {
  color: white;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  width: fit-content;
}

.note-item__title:hover {
  border-bottom: 1px solid #202124;
  cursor: pointer;
}

.dark .note-item__title:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.dark .note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button {
  color: #d2a611;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.note-search input {
  width: 100%;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.add-btn {
  border-radius: 10px;
  background-color: #d2a611;
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dark .add-btn {
  background-color: #fff263;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.detail-title {
  font-weight: bold;
  font-size: 56px;
}

.detail-body {
  font-size: 18px;
}

.detail-body > pre {
  overflow-x: hidden;
  white-space: initial;
}

.detail-actions {
  bottom: 32px;
  display: flex;
  gap: 16px;
  position: fixed;
  right: 32px;
}

.detail-actions > div {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202124;
  font-size: 24px;
  cursor: pointer;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.not-found > h1 {
  font-size: 40px;
}

.detail-date {
  color: #d2a611;
}

.dark .detail-date {
  color: #fff263;
}

.dark .auth-link {
  border-bottom: 1px solid white;
}

.auth-link {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
}

.public-header {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid black;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .public-header {
  border: 1px solid white;
}

[contenteditable='true']:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block;
  color: #aaa;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
